<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

	<script type="text/javascript" layout:fragment="script" th:inline="javascript">

		/**
		 * 저장
		 */
		function save(){
			if(!validation()){
				return;
			}

			var seqNo = $('#seqNo').val();
			var teamSeqNo = $('#teamSeqNo').val();
			var playerNm = $('#playerNm').val();
			var playerPosition = $.comm.isNull($('#dropdownMenuButton').data('val')) ? 0 : $('#dropdownMenuButton').data('val');

			var param = {
				'playerNm' : playerNm
				, 'playerPosition' : playerPosition
				, 'teamSeqNo' : teamSeqNo
				, 'seqNo' : seqNo
			};

			fn.post('/player/save', param, onSave);
		}

		/**
		 * 저장 callback
		 */
		function onSave(obj){
			if(obj.success){
				alert('완료되었습니다.');
				location.href = '/player/list?teamSeqNo=' + obj.payload;
			}else{
				alert('오류가 발생하였습니다.');
			}
		}

		/**
		 * 유효성 체크
		 */
		function validation(){
			var playerNm = $('#playerNm').val();
			var playerPosition = $.comm.isNull($('#dropdownMenuButton').data('val')) ? 0 : $('#dropdownMenuButton').data('val');

			if($.comm.isNull(playerNm)){
				alert('선수명을 입력해 주세요.');
				$('#playerNm').focus();
				return false;
			}

			if(playerPosition == 0){
				alert('선수 포지션을 선택해 주세요.');
				return false;
			}

			return true;
		}

		/**
		 * 선수 포지션 select box 선택
		 */
		function selectPosition(val){
			var text = (val == 1) ? '투수' : (val == 2) ? '타자' : 'Dropdown';
			$('#dropdownMenuButton').html(text);
			$('#dropdownMenuButton').data('val', val);
		}

		/**
		 * 삭제
		 */
		function playerDelete(seqNo, teamSeqNo){
			fn.post('/player/delete/' + seqNo, null, function(obj){
				if(obj.success){
					alert('완료되었습니다.');
					location.href = '/player/list?teamSeqNo=' + teamSeqNo;
				}else{
					alert('오류가 발생하였습니다.');
				}
			});
		}

	</script>

    <div class="container" layout:fragment="content">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-4 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">[[${info.seqNo > 0 ? '선수 정보' : '선수 등록'}]]</h1>
                                    </div>
                                    <form class="user">
                                    	<input type="hidden" id="seqNo" name="seqNo" th:value="${info.seqNo}"/>
                                    	<input type="hidden" id="teamSeqNo" name="teamSeqNo" th:value="${info.teamSeqNo}"/>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="playerNm" aria-describedby="emailHelp"
                                                placeholder="선수명" th:value="${info.playerNm}">
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown no-arrow mb-4">
		                                        <button class="btn btn-light dropdown-toggle col-lg-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:attr="data-val=${info.playerPosition}">
		                                            [[${info.playerPosition == 1 ? '투수' : info.playerPosition == 2 ? '타자' : 'Dropdown'}]]
		                                        </button>
		                                        <div class="dropdown-menu animated--fade-in col-lg-12" aria-labelledby="dropdownMenuButton" style="">
		                                            <a class="dropdown-item" href="javascript:selectPosition(0);">선택 안 함</a>
		                                            <a class="dropdown-item" href="javascript:selectPosition(1);">투수</a>
		                                            <a class="dropdown-item" href="javascript:selectPosition(2);">타자</a>
		                                        </div>
		                                    </div>
                                        </div>
                                        <div class="form-group row" th:if="${info.seqNo > 0}">
		                                    <div class="col-sm-6 mb-3 mb-sm-0">
		                                        <a href="javascript:save();" class="btn btn-primary btn-user btn-block">
		                                        	<span class="icon text-white-50">
			                                            <i class="fas fa-save"></i>
			                                        </span>
			                                        <span class="text">저장</span>
												</a>
		                                    </div>
		                                    <div class="col-sm-6">
												<a th:href="|javascript:playerDelete('${info.seqNo}', '${info.teamSeqNo}');|" class="btn btn-danger btn-user btn-block">
			                                        <span class="icon text-white-50">
			                                            <i class="fas fa-trash"></i>
			                                        </span>
			                                        <span class="text">삭제</span>
			                                    </a>
		                                    </div>
		                                </div>
		                                <a href="javascript:save();" class="btn btn-primary btn-user btn-block" th:unless="${info.seqNo > 0}">
                                        	<span class="icon text-white-50">
	                                            <i class="fas fa-save"></i>
	                                        </span>
	                                        <span class="text">저장</span>
										</a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="javascript:void(0);">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="javascript:void(0);">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</html>